/* Background / Body */
body{
    background-image: url("img/smoke-lilac-colored-smoke.jpg");
    background-blend-mode: difference;
    background-attachment: fixed;
    margin: 50px;
    animation: BackgroundAnimation 5s ease-in-out infinite;
}
@keyframes BackgroundAnimation{
    0%{background-color: rgb(27, 0, 35);}
    50%{background-color: rgb(18, 23, 66);}
    100%{background-color: rgb(27, 0, 35);}
}

/* Header */
header{
    background-color: #3F1A546E;
    background-image: url("img/mini_dots.png");
    border-radius: 20px;
    width: 655px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
/*Card Text Part*/
header div.info_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: space-between;
    margin: 10px;
}
header div.info_text p{
    margin: auto auto 15px auto;
}
header div.info_text div{
    margin: auto auto 10px auto;
}

/* Images */
img{
    border-radius: 10px;
    display: flex;
    margin: auto;
}

/* Text Color / Font/ Margin */
p,h1,h2,h3,label,button{
    color:#EDDDC0;
    mix-blend-mode: difference;
    text-align: center;
    font-family:'DM Sans', sans-serif;
    font-size: 17.5px;
    margin-left: 200px;
    margin-right: 200px;
}

/* Text Focus */
.link:focus,p:focus,h1:focus,h2:focus,h3:focus,ul:focus{
    background-color: #40135ba0;
    color: #FFFFFF;
}

/* Lists */
div.list_container{
    text-align: center;
    margin: auto;
}
ul{
    color:#EDDDC0;
    mix-blend-mode: difference;
    font-family:'DM Sans', sans-serif;
    display: inline-block;
    align-items: center;
    margin: auto;
}
li{
    text-align: start;
}

/*Dividers*/
hr{
    color: #FFFFFF;
    mix-blend-mode: difference;
    margin: 8px 10% 8px 10%;
    padding: 0;
    border: 0;
    height: 1rem;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cstyle%3Eline%20%7Bstroke-linecap%3A%20square%3Bstroke-width%3A%202px%3Bstroke%3A%20%23EDDDC0%3Bvector-effect%3A%20non-scaling-stroke%3B%7D%3C%2Fstyle%3E%3Cline%20x1%3D%22256%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22256%22%20%2F%3E%3Cline%20x1%3D%22256%22%20y1%3D%22512%22%20x2%3D%22512%22%20y2%3D%22256%22%20%2F%3E%3C%2Fsvg%3E');
    background-position: center center;
    background-repeat: repeat-x;
    background-size: auto 30.1%;
}

/* Pages */
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pages p{
    margin: 0px 20px 0px 20px;
}

/*Buttons*/
button{
    border: 2px solid #EDDDC0;
    border-bottom: 4px solid #EDDDC0;
    border-radius: 3px;
    background: none;
    padding: 3px 12px 3px 12px;
    margin: auto auto 2px auto;
    display: flex;
    flex-direction: column;
}
button:hover{
    text-decoration: underline solid #EDDDC0;
}
button:active{
    text-decoration: underline solid rgba(0, 0, 0, 0);
}
.button_inline{
    display: inline;
}

/*Links*/
.link{
    font-family:'DM Sans', sans-serif;
    color:#EDDDC0;
    text-decoration: underline solid #EDDDC0;
    text-align: center;
}
.link:hover{
    text-decoration: none;
}
.link:active{
    color:#FFFFFF;
    text-decoration: underline solid #FFFFFF;
}

/*Highlightings*/
mark,h1{
    background-color: rgba(225, 207, 173, 0.225);
    color:#EDDDC0;
}

/*Titles*/
h1{
    text-decoration: underline solid #EDDDC0;
    font-family: "Jacquard 24", system-ui;
    font-size: 3em;
    background-size: 40%;
    margin: 5px auto 10px auto;
}

/*Sub Titles*/
h2{
    background-color: rgba(225, 207, 173, 0.04);
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: 10px 35% 10px 35%;
    text-decoration: underline solid #EDDDC0 1px;
    font-weight: 600;
}

/* --------------Portfolio-------------- */
.portfolio_intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio_intro p{
    background-color: #3F1A546E;
    border-radius: 25px;
    height: 390px;
    width: 350px;
    padding: 40px 50px 30px 30px;
    margin: 0px;
}
.portfolio_intro img{
    margin: auto 0px auto -30px;
    border-radius: 50%;
}

.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photos img{
    margin: 15px;
}

/* --------------Asterisks-------------- */
.asterisk{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
#start{
    animation: FloatAnimation 5s ease-in-out infinite;
}
@keyframes FloatAnimation{
    0%{transform: translatey( 0px );}
    50%{transform: translateY( 10px );}
    100%{transform: translateY( 0px );}
}
#end{
    animation: FloatReverseAnimation 5s ease-in-out infinite;
} 
@keyframes FloatReverseAnimation{
    0%{transform: translateY( 0px );}
    50%{transform: translateY( -10px );}
    100%{transform: translateY( 0px );}
}


/*Media Queries*/
@media screen and (max-width: 790px) {
    body{
        margin: 25px;
    }
    header{
        width: 75%;
        height: 740px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    hr{
        margin-left: 5%;
        margin-right: 5%;
    }
    p,h2,h3,ul{
        margin-left: 50px;
        margin-right: 50px;
    }
    h1{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 550px) {
    body{
        margin: 12px;
    }
    header{
        width:380px;
        height: 360px;
    }
    #autoportrait{
        display: none;
    }
    hr{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    p,ul{
        margin-left: 25px;
        margin-right: 25px;
    }
    h1,h2{
        margin-left: 0px;
        margin-right: 0px;
    }
    main img{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    body{
        margin: 6px;
    }
    header{
        width: 330px;
        height: 330px;
    }

    hr{
        margin-left: 1%;
        margin-right: 1%;
    }

    p,ul,h2{
        margin-left: 12px;
        margin-right: 12px;
        font-size: 15px;
    }
    button,a{
        font-size: 15px;
    }

    h1{
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2em;
    }
    h2{
        font-size: 1.15em;
    }
}
@media screen and (max-width: 430px) {
    body{
        margin: 3px;
    }
    header{
        width:92%;
        height:320px;
    }
    .pages p{
        margin: 0px 10px 0px 10px;
    }  
    hr{
        margin-left: 0%;
        margin-right: 0%;
    }
    p,h1,h2,h3,ul{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 391px) {
    header{
        height: 320px;
    }
    .asterisk{
        font-size: 25px;
    }
}
